* {
  font-family: poppins, sans-serif;

  font-weight: 400;

  font-style: normal;
}

body {
  height: 200vh;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.anime_object {
  font-size: 50px;
  white-space: nowrap;
  display: inline-block;
}

.textContainer {
  background-color: azure;
  padding: 50px;
  width: 100%;
  position: fixed;
  top: 30%;
  /* display: flex; */
}

#banner-text {
  width: 100%;
  overflow: hidden;
  margin-bottom: 4rem;
  position: fixed;
}
#banner-text2 {
  width: 100%;
  overflow: hidden;
  margin-bottom: 4rem;
  position: fixed;
  top: 200px;
}
.banner-text {
  width: 100%;
  font-size: 30px;
  left: 0;
  white-space: nowrap;
  font-weight: bold;
}

.banner-text div{
  display: inline-block;
  /* color: black; */
}
.sentenceInfinity {
  display: inline-block;
  white-space: normal;
}
.separatorInfinity {
  display: inline-block;
  padding: 0 5px;
  white-space: normal;
}
.infinity {
  white-space: nowrap;
  width: 100%;
  padding: 50px 0;
  background-color: beige;
}

.loading {
  color: blue;
}
.loading2 {
  color: red;
}

.rotator {
  width: 200px;
  height: 400px;
  background-color: aqua;
  position: fixed;
  top: 50%;
  left: 30%;
}