body {
    height: 200vh;
    position: relative;
    overflow-x: hidden;
}

.anime_object {
    position: absolute;
    /* left: 50%; */
    top: 30%;
    margin: auto;
    font-size: 50px;
  }
  
  .enable_rotate {
    animation: rotateRight infinite linear;
  }
  
  @keyframes rotateRight {
      0% {
          transform: translateX(100vw);
      }
    100% {
      transform: translateX(0px);
    }
  }