body {
    margin: 0;
    padding: 0;
}

.background {
    height: 100vh;
    width: 100%;
    background-color: #91c4f5;
    position: relative;
}

.blur-mask {
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(70px);
    height: 100vh;
    width: 100%;
    z-index: 4;
}

.ball1 {
    background-color: #f2ba8f;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    z-index: 3;
}

.ballContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}